<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidproject.employeemanagementsystem">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_employee"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_employee"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".userInterface.activities.LoginScreenActivity" />
        <activity
            android:name=".userInterface.activities.SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".userInterface.activities.HomeActivity" />
        <activity
            android:name=".userInterface.activities.SignUpActivity"
            android:label="Sign up" />
    </application>

</manifest>